.board-page {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  min-height: 100vh;
  background-color: #fafafa;
  position: relative;


  user-select: none; 
  -webkit-user-select: none; 
  -moz-user-select: none;

}