.add-button {
  position: fixed;
  
  bottom: 40px;
  right: 40px;
  width: 100px;
  height: 100px;

  font-size: 55px;
  z-index: 1000;
  border-radius: 60%;
  border: none;
  outline: none;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  cursor: pointer;
  
  display: flex;
  align-items: center;
  justify-content: center;
  

  transition: all 0.5s;


  &:hover {
    transform: scale(1.05); 
  }

  &:active {
    transform: scale(1.15);
    background-color: white !important;
    opacity: 1 !important;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }

  &:focus {
    outline: none;
  }
}

