.card {
  position: relative;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  background: white;

  display: flex;
  flex-direction: column;
  
  overflow: hidden;

  &_dragging {
    filter: brightness(60%);
  }

  &__image {
    width: 100%;
    height: 85%;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    &_hidden {
      opacity: 0;
    }
  }

  &__content {
    background: white;
    height: 15%;
    color: black;
    
    display: flex;
    justify-content: flex-end;
    flex-direction: row;

    gap: 1rem;

    padding: 1% 2% 0 1%;

  }

  &__loader {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: #121211 
        url("https://i.imgur.com/5w0ydly.gif") center no-repeat;
    background-size: 100%;  
  }
}